*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: black;
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style: none;
}
li a{
    text-decoration: none;
    color: black;
}
.head a {
    padding: 28px 0;
}

.btn a{
    background-color: blue;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
}
.btn-big a{
    color: white;
    text-decoration: none;
}
.btn-big{
    width: 100%;
    height: 30px;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: blue;
}
.flex-content{
    display: flex;
}
.container-big{
    width: 70%;
    margin: 0 auto;
}
.container-small{
    width: 60%;
    margin: 0 auto;
}
.flex-jsbetween{
    justify-content: space-between;
}
.bordo{
    border: 2px solid red;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
img{
    width: 100%;
}
i{
    margin-right: 5px;
}
.border{
    border: 3px solid rgb(213, 211, 211);
}

/*header*/

.head{
    width: 100%;
    height: 70px;
    text-align: center;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 999;
    border-bottom: 1px solid rgb(213, 211, 211) ;
}
.fix-r , .fix-l{
    width: 33%;
    margin: 20px;
}
/* hover header */
.head .select-link:hover{
    border-bottom: 3px solid black;
}
/*main*/

.head-section{
    margin: 70px auto;
    padding-top: 40px;
    background-color: rgb(167, 202, 226);
}
.text-area{
    width: 25%;
    font-size: 15px;
    margin-top: 85px;
}
.text-area div{
    margin-top: 30px;
}
.text-area div i{
    font-size: 50px;
}
.text-area a i{
    color: black;
    margin-top: 35px;
}
.img-area{
    width: 75%;
    position: relative;
    top:0
}
.img-area img{
    position: relative;
    top: 80px;
    left: 0;
}
/* section promo */
.section-promo{
    margin-top: 100px;
}
.section-promo h2{
    margin-bottom: 30px;
}
.select-box{
    margin-right: 20px;
}
.check-box{
    width: 20px;
    height: 20px;
    border: 2px solid rgb(213, 211, 211);
    border-radius: 100%;
}
.select-box:active .check-box{
    border: 5px solid blue;
}
/* card */
.promo-card{
    margin-top: 20px;
}
.title-card{
    text-align: center;
    border-bottom: 1px solid rgb(213, 211, 211);
}
.text-card{
    margin: 20px;
}
.price{
    margin: 30px auto;
}
.text-card li{
    margin: 20px auto;
}
.text-card div{
    margin: 30px auto;
}
.text-card .btn{
    margin: 50px auto;
}

.text-card hr{
    width: 20%;
}
.card {
    width: calc(100% / 3 - 10px);
}
.check i{
    color: blue;
}
/* card4 */
.support{
    margin-top: 40px;
}
.support-area{
    margin: 20px;
}
.text-support{
    width: 70%;
}
.text-support h3{
    margin-bottom: 20px;
}
.text-support p{
    margin-top: 30px;
    font-size: 15px;
}
.link-area{
    width: 30%;
}
/* sezione3 */
.partner{
    margin-top: 80px;
}
.partner .img{
    width: 65%;
}
.partner .text{
    width: 35%;
    margin: 40px;
}
.text h3{
    margin-bottom: 15px;
}
.text .btn {
    margin-top: 25px;
}
.text .btn a{
    background-color: white;
    color: black;
    border: 1px solid black;
}
/* sezione4 */
.dp-business{
    margin-top: 80px;
    flex-wrap: wrap;
}
.card-business{
    margin-top: 20px;
    width: calc( 100% / 3 - 30px);
}
.card-business h3{
    margin: 10px auto;
}
.card-business p{
    margin: 25px auto;
}
/* sezione5 */
.adv-area{
    margin-top: 100px;
}
.adv-area h2{
    margin: 20px auto;
}
/* sezione6 */
.company{
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgb(235, 232, 232);
}
.logo-company{
    width: 16vw;
    position: relative;
}
.logo-company img{
    filter: invert(1);
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.company-left , .company-right{
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
}
.company-descition{
    width: 33%;
}
.company-text{
    overflow: auto;
}
.company-right{
    justify-content: flex-end;
}
.logo-text{
    width: 250px;
    margin: 30px;
}
.company-descition p{
    margin: 30px;

}
/* colori-company */
.desingit-corp{
    background-color: rgb(61, 246, 89);
    padding: 10px;
}
.arizona-corp{
    background-color: rgb(90,10, 38);
}
.florida-corp{
    background-color: rgb(0,136, 198);
}
.topps-corp{
    background-color: rgb(255, 27, 37);
}
.wbr-corp{
    background-color: rgb(217, 1, 35);
}
.heart-corp{
    background-color: rgb(167, 202, 226);
}
.lonely-corp{
    background-color: rgb(2, 33, 115);
}
.cchannel-corp{
    background-color: rgb(255, 210, 63);
}
/* sezione 6 hover */
.logo-company:hover{
    box-shadow: 3px 3px 18px #a5a5a5 inset,
        -1px -1px 10px #e2e2e2 inset;
}
/* sezione 7 */
.section-input{
    padding: 80px 0 ;
    background-color: rgb(167, 202, 226);
    justify-content: space-between;
}
.text-support h3{
    font-size: 35px;
    color: rgb(90,10, 38); ;
}
.text-input{
    width: 60%;
}
.text-input .btn a {
    background-color: white;
    color: black;
    padding: 10px 30px;
}
.section-input .link-area{
    margin-top: 15px;
    width: 40%;
    margin-left: 100px;
}
/* sezione 8 */
.faq h2{
    margin: 100px 0 50px 0;
}
.faq hr{
    margin: 30px auto;
}
.faq-text p{
    display: none;
}
.faq-text:hover p{
    display: block;
    margin: 20px auto;
}
.arrow-hover{
    display: none;
}
.faq-text:hover .arrow-hover{
    display: block;
}
.faq-text:hover .arrow{
    display: none;
}
/* footer */

footer{
    margin-top: 80px;
    color: white;
    background-color: black;
}
.element{
    padding-top: 50px;
}
.element h3{
    padding: 50px 0;
}
.element a{
    color: white;
    line-height: 50px;
}
.ft-element hr{
    width: 10%;
    margin: 40px 0;
}
form{
    margin: 30px 0;
}
select{
    border: none;
    background-color: black;
    color: white;
}