*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: black;
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style: none;
}
li a{
    text-decoration: none;
    color: black;
}
.btn a{
    background-color: blue;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
}
.btn-big a{
    color: white;
    text-decoration: none;
}
.btn-big{
    width: 100%;
    height: 30px;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: blue;
}
.flex-content{
    display: flex;
}
.container-big{
    width: 70%;
    margin: 0 auto;
}
.container-small{
    width: 60%;
    margin: 0 auto;
}
.flex-jsbetween{
    justify-content: space-between;
}
.bordo{
    border: 2px solid red;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
img{
    width: 100%;
}
i{
    margin-right: 5px;
}
.border{
    border: 1px solid rgb(213, 211, 211);
}

/*header*/

.head{
    width: 100%;
    height: 70px;
    text-align: center;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 999;
}
.fix-r , .fix-l{
    width: 33%;
    margin: 20px;
}

/*main*/

.head-section{
    margin: 70px auto;
    padding-top: 40px;
    background-color: rgb(167, 202, 226);
}
.text-area{
    width: 25%;
    font-size: 15px;
    margin-top: 85px;
}
.text-area div{
    margin-top: 30px;
}
.text-area div i{
    font-size: 50px;
}
.text-area a i{
    color: black;
    margin-top: 35px;
}
.img-area{
    width: 75%;
    position: relative;
    top:0
}
.img-area img{
    position: relative;
    top: 80px;
    left: 0;
}
/* section promo */
.section-promo{
    margin-top: 100px;
}
.section-promo h2{
    margin-bottom: 30px;
}
.select-box{
    margin-right: 20px;
}
.check-box{
    width: 20px;
    height: 20px;
    border: 2px solid rgb(213, 211, 211);
    border-radius: 100%;
}
.select-box:active .check-box{
    border: 5px solid blue;
}
/* card */
.promo-card{
    margin-top: 20px;
}
.title-card{
    text-align: center;
    border-bottom: 1px solid rgb(213, 211, 211);
}
.text-card{
    margin: 20px;
}
.price{
    margin: 30px auto;
}
.text-card li{
    margin: 20px auto;
}
.text-card div{
    margin: 30px auto;
}
.text-card .btn{
    margin: 50px auto;
}

.text-card hr{
    width: 20%;
}
.card {
    width: calc(100% / 3 - 10px);
}
.check i{
    color: blue;
}
/* card4 */
.support{
    margin-top: 40px;
}
.support-area{
    margin: 20px;
}
.text-support{
    width: 70%;
}
.text-support h3{
    margin-bottom: 20px;
}
.text-support p{
    margin-top: 30px;
    font-size: 15px;
}
.link-area{
    width: 30%;
}